.home-page .nav-bar{
    text-align: center;
    color: rgb(236, 236, 236);
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
    background-color: orange;

}

.home-page .nav-bar .ml-auto{
    text-align: right;
    margin-left: auto;
    font-size: 20px;
    margin-right: 0;
}

.home-page .body-container .row .btn-aboutMe{
    margin: 5%;
    background-color: black;
    color:white;
}
.home-page .body-container .row .img-pf{
    display: inline-flexbox;
    width: auto;
    height: auto;
    grid-column: 1;
    margin: 1%;
    background-color: transparent;
 
    
}


.home-page .body-container {
    background-color: chocolate;
}
.container h1{
    background-color: #1E5CBA;
}